In [ ]:
#Name:Sujyot Chapade
#Batch 1
#Homework Assignment
#Date:15 feb 2024

In [ ]:
prime_numbers = (2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71)

In [3]:
def square_primes(prime_numbers):
    return tuple(num ** 2 for num in prime_numbers)

squared_primes = square_primes(prime_numbers)
print(squared_primes)

(4, 9, 25, 49, 121, 169, 289, 361, 529, 841, 961, 1369, 1681, 1849, 2209, 2809, 3481, 3721, 4489, 5041)

In [5]:
student_database = {
    "John": {"age": 20, "favorite_subjects": ["Math", "Physics", "Computer Science"]},
    "Alice": {"age": 21, "favorite_subjects": ["Biology", "Chemistry", "English"]},
    "Emma": {"age": 19, "favorite_subjects": ["History", "Literature", "Art"]},
}
print("John's age:", student_database["John"]["age"])
print("Alice's favorite subjects:", student_database["Alice"]["favorite_subjects"])

John's age: 20
Alice's favorite subjects: ['Biology', 'Chemistry', 'English']

In [6]:
new_student_data = {
    "name": "Charlie",
    "age": 21,
    "favorite_subjects": ["Chemistry", "Biology", "Music"]
}
student_database["student3"] = new_student_data

print(student_database)

{'John': {'age': 20, 'favorite_subjects': ['Math', 'Physics', 'Computer Science']}, 'Alice': {'age': 21, 'favorite_subjects': ['Biology', 'Chemistry', 'English']}, 'Emma': {'age': 19, 'favorite_subjects': ['History', 'Literature', 'Art']}, 'student3': {'name': 'Charlie', 'age': 21, 'favorite_subjects': ['Chemistry', 'Biology', 'Music']}}

In [8]:
def average_age(student_name, student_database):
    # Check if the student exists in the database
    if student_name in student_database:
        # Get the student's data from the database
        student_data = student_database[student_name]
        # Calculate the average age
        if isinstance(student_data, dict) and "age" in student_data:
            return student_data["age"]
        else:
            return "Invalid student data format"
    else:
        return "Student not found in the database"

student_database = {
    "Alice": {"age": 20},
    "Bob": {"age": 22},
    "Charlie": {"age": 21}
}

student_name = "Alice"
print(f"Average age of {student_name}: {average_age(student_name, student_database)}")

Average age of Alice: 20

In [9]:
import random

random_integers_set = set()

for _ in range(10):
    random_int = random.randint(1, 100)
    random_integers_set.add(random_int)

print("Random integers set:", random_integers_set)

Random integers set: {96, 2, 36, 68, 6, 71, 38, 73, 41, 79}

In [10]:
import random

def generate_random_set(size):
    return set(random.randint(1, 100) for _ in range(size))

def intersection_and_union(set1, set2):
    intersection = set1.intersection(set2)
    union = set1.union(set2)
    return intersection, union

# Generating random sets
set1 = generate_random_set(10)
set2 = generate_random_set(15)

# Displaying the generated sets
print("Set 1:", set1)
print("Set 2:", set2)

# Calculating intersection and union
intersection, union = intersection_and_union(set1, set2)

# Displaying the intersection and union
print("Intersection:", intersection)
print("Union:", union)

Set 1: {91, 14, 15, 80, 18, 57, 27, 60, 29, 30}
Set 2: {1, 71, 8, 42, 75, 45, 78, 47, 79, 86, 88, 91, 29, 95, 63}
Intersection: {91, 29}
Union: {1, 71, 8, 75, 14, 15, 80, 78, 18, 79, 86, 88, 91, 27, 29, 30, 95, 42, 45, 47, 57, 60, 63}

In [11]:
#To be done in class
#Create a tuple with three elements: 10, “hello”, and 3.14.Concatenate the tuples (1, 2, 3) and (4, 5, 6) and store the result in a new tuple
# Creating a tuple with three elements
tuple1 = (10, "hello", 3.14)

# Concatenating two tuples
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)
concatenated_tuple = tuple2 + tuple3

# Displaying the tuples
print("Tuple 1:", tuple1)
print("Concatenated Tuple:", concatenated_tuple)

Tuple 1: (10, 'hello', 3.14)
Concatenated Tuple: (1, 2, 3, 4, 5, 6)

In [13]:
#Dictionary Exploration: Create a dictionary representing a phone book. Each entry should have a person’s name as the key and their phone number as the value. Add a new contact to the phone book. Retrieve the phone number of a specific person.Dictionary Iteration: Given a dictionary of student names and their corresponding grades, calculate the average grade. Find the student with the highest grade.
# Creating a phone book dictionary
phone_book = {
    "Aman": "123-456-7890",
    "Boob": "987-654-3210",
    "arnav": "456-789-0123"
}

# Adding a new contact to the phone book
phone_book["David"] = "555-123-4567"

# Retrieving the phone number of a specific person
person = "Aman"
phone_number = phone_book.get(person)
if phone_number:
    print(f"The phone number of {person} is {phone_number}")
else:
    print(f"{person} is not found in the phone book")

The phone number of Aman is 123-456-7890

In [14]:
# Dictionary of student names and their corresponding grades
student_grades = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95
}

# Calculate the average grade
average_grade = sum(student_grades.values()) / len(student_grades)
print("Average grade:", average_grade)

# Find the student with the highest grade
highest_grade_student = max(student_grades, key=student_grades.get)
highest_grade = student_grades[highest_grade_student]
print(f"Student with the highest grade: {highest_grade_student} with a grade of {highest_grade}")

Average grade: 87.5
Student with the highest grade: David with a grade of 95

In [15]:
#Set Operations: 
#Create two sets: one representing math students and another representing physics students. 
#Determine the intersection of these sets (students who study both math and physics). 
#Find the union of the sets (all unique students). 
# Creating sets representing math students and physics students
math_students = {"Aman", "Booby", "Chetan", "deep"}
physics_students = {"Alice", "Eve", "Charlie", "Frank"}

# Determining the intersection of these sets (students who study both math and physics)
students_taking_both = math_students & physics_students
print("Students taking both math and physics:", students_taking_both)

# Finding the union of the sets (all unique students)
all_students = math_students | physics_students
print("All unique students:", all_students)

Students taking both math and physics: set()
All unique students: {'Alice', 'Frank', 'Chetan', 'Aman', 'Booby', 'Eve', 'deep', 'Charlie'}

In [18]:
#Set Manipulation: 
Remove a specific student from the math student set. 
Add a new student to the physics student set.
math_students.remove("Booby")
print("Math students after removing Bob:", math_students)

# Adding a new student to the physics student set
physics_students.add("Greg")
print("Physics students after adding Greg:", physics_students)

Math students after removing Bob: {'deep', 'Aman', 'Chetan'}
Physics students after adding Greg: {'Alice', 'Frank', 'Greg', 'Eve', 'Charlie'}